//Components

@import "components/normalize";
@import "components/fullpage";
@import "components/grid";

// colors

$black: #1A1A1A;
$white: #FFFFFF;
$grey: #999999;
$blue: #009EC9;

// font

$font-family: 'Montserrat', sans-serif;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-semi-bold: 600;
$font-height: 1;

// universal

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #1A1A1A;
  background-image: url(../images/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  height: 100%;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: $font-family;
  font-weight: $font-weight-extra-light;
  line-height: $font-height;
  letter-spacing: 3px;
  text-transform: uppercase;

}

a {
  text-decoration: none;
  color: $white;
}

a, img {
  border:none;
  outline:none;
  display: block;
}

svg {
  width: 100%;
  display: block;
}

img, img[src*=".svg"] {
  width: 100%;
}

// typography

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
  line-height: 1.5em;
}


// Universal

.hidden {
  display: none;
}
.visibile {
  display: block !important;
}

// Background

// Header
#plan-north {
  position: absolute;
  top: 20px;
  right: 20px;
  h1 {
    font-size: 2.5em;
    font-weight: $font-semi-bold;
    text-align: right;
    margin: 0;
    & > span {
      color: $blue;
      & + span {
        color: $white;
        display: block;
      }
    }
  }
}

// navigation

#main-nav {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 2;
  &:before {
      content: '';
      position: absolute;
      left: -40px;
      top: 10px;
      width: 12px;
      height: 15px;
      background: $blue;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      float: left;
      &.active {
        border-bottom: 5px solid $blue;
      }
      a {
        padding: 10px 20px;
        transition: color .35s ease-in-out;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

#mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: $white;
  width: 225px;
  height: 0;
  overflow: hidden;
  transition: height .5s ease-in-out;
  z-index: 2;
  ul {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    padding: 75px 0 30px 0;
    li {
      width: 100%;
      padding: 10px 0 10px 40px;
      &.active {
        a {
          color: $blue;
        }
      }
      a {
        transition: color .35s ease-in-out;
      }
    }
  }
  &.active {
    height: 325px;
  }
}

#hamburger-wrapper {
  display: none;
  position: absolute;
  top: 10px;
  left: 15px;
  padding: 10px;
  cursor: pointer;
  z-index: 3;
  .nav-icon {
    width: 30px;
  }

  .nav-icon::after,
  .nav-icon::before,
  .nav-icon div {
    background-color: white;
    content: '';
    display: block;
    height: 6px;
    margin: 4px 0;
    transition: all .2s ease-in-out;
  }

  .nav-icon.active::before {
    transform: translateY(10px) rotate(135deg);
  }

  .nav-icon.active::after {
    transform: translateY(-10px) rotate(-135deg);
  }

  .nav-icon.active div {
    transform: scale(0);
  }
}

// Fullpage.JS styleing and overrides

.fp-slidesNav { // Slides navigation
  text-align: center
}

#fp-nav.fp-right {
  right: 9px;
}

// Landing section

#landing {
  img {
    max-width: 450px;
    max-height: 346px;
    margin: 0 auto;
  }
}

// Services section

ul.grid-nav {
  list-style-type: none;
  margin: 10px 5px;
  padding: 0;
  overflow: hidden;
  li {
    display: inline-block;
    a {
      display: block;
      color: white;
      text-align: center;
      font-size: .8em;
      padding: 5px 16px;
      text-decoration: none;
    }
    &.active {
      border-bottom: solid white 1px;
    }
  }
}

.services-flex-container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1400px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  .services-flex-item {
    background: rgba($white, 0.10);
    min-height: 225px;
    color: white;
    margin: 5px;
    &:nth-child(1) {
    }
    &:nth-child(2) {
    }
    &:nth-child(3) {
    }
    &:nth-child(4) {
      background: rgba($blue, 0.7);
      padding: 10px 40px;
      min-height: 287px;
    }
    &:nth-child(5) {
    }
    &:nth-child(6) {
    }
    & > div {
      display: block;
      height: 100%;
      width: 100%;
      background-image: url('../images/residential.jpg');
      background-size: 1200px;
      background-repeat: no-repeat;
    }
  }
  .fifty {
    width: calc(50% - 10px);
  }
  .twenty-five {
    width: calc(25% - 10px);
  }
  h2 {
    font-weight: 600;
  }
  img {
    display: none;
  }
  p {
    font-size: .8em;
    text-transform: none;
    font-weight: 300;
  }
}
.mobile-image {
  display: none;
  padding: 5px;
}

// Process section

.process-details-container {
  padding-left: 5px;
  .process-details {
    background: rgba($white, 0.10);
    padding: 25px;
    overflow: hidden;
    min-height: 270px;
    position: relative;
    display: none;
    &:first-child {
      display: block;
    }
    img {
      display: none;
    }
    h2 {
      font-weight: $font-semi-bold;
      margin-top: 0;
      color: $blue;
    }
    p {
      font-size: .7em;
      line-height: 2em;
      margin: 0;
      text-transform: none;
    }
    span {
      position: absolute;
      bottom: -16px;
      left: -4px;
      font-size: 7em;
      color: rgba(255,255,255,.2);
      font-weight: $font-semi-bold;
    }
  }
  .process-col {
    width: calc(50% - 5px);
    float: left;
    &.left {
      margin-right: 5px;
    }
    &.right {
      margin-left: 5px;
    }
  }
  .process-button {
    width: 100%;
    height: 3.36em;
    background: rgba($white, 0.10);
    font-weight: 600;
    margin: 10px 0;
    padding: 0 20px 0 0;
    display: table;
    position: relative;
    cursor: pointer;
    -webkit-transition:: background .35s ease-in-out;
    transition: background .35s ease-in-out;
    font-weight: $font-semi-bold;
    &:hover {
      background: rgba($blue, 0.7);
    }
    &.active {
      background: rgba($blue, 0.7);
    }
    & > span {
      font-size: .8em;
      font-weight: $font-semi-bold;
      line-height: 1.2em;
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }
    span + span {
      position: absolute;
      bottom: -7px;;
      left: 0;
      font-size: 2em;
      color: rgba($white, 0.2);
    }
  }
}
.process-flex-container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  .process-flex-item {
    background: rgba(255, 255, 255, 0.1);
    min-height: 225px;
    margin: 5px;
    width: calc(50% - 10px);
    &:nth-child(-n+2) {
      margin-top: 0;
    }
    &:nth-child(n+3) {
      margin-bottom: 0;
    }
    & > div {
      display: block;
      height: 100%;
      width: 100%;
      background-image: url('../images/inquiry.jpg');
      background-size: 700px;
      background-repeat: no-repeat;
    }
  }
}

// Projects Section

.siema-wrapper {
  background: rgba(255,255,255,.1);
  .siema {
    width: 100%;
    margin: 0 auto;
  }
}


$controls-margin: 5px;

.slider-controls {
  display: table;
  margin: 15px auto 0 auto;
  height: 25px;
  & > * {
    display: table-cell;
    vertical-align: middle;
  }
  .bullets {
    span {
      width: 13px;
      height: 13px;
      border: solid 2px #ffffff;
      display: inline-block;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      margin: 0 $controls-margin;
      position: relative;
      cursor: pointer;
      &.active {
        background: #ffffff;
      }
      > span {
        position: absolute;
        top: -2px;
        left: -2px;
        margin: 0;
      }
    }
  }
  .prev, .next {
    border: none;
    outline: none;
    background: none;
    color: #FFFFFF;
    width: 25px;
    padding: 0;
    cursor: pointer;
  }
}

.gallery-thumbnail-container {
  .gallery-thumbnail {
    background: $blue;
    width: 105px;
    height: 100px;
    float: left;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    font-size: 2em;
    cursor: pointer;
    &.active {
      outline: solid 5px $blue;
    }
    &:nth-child(1){
      background: url('../images/gallery/Beyster/01.jpg') no-repeat;
      background-position: center;
      background-size: cover;
    }
    &:nth-child(2){
      background: url('../images/gallery/Christopher/01.jpg') no-repeat;
      background-position: center;
      background-size: cover;
    }
    &:nth-child(3){
      background: url('../images/gallery/Freeman/01.jpg') no-repeat;
      background-position: center;
      background-size: cover;
    }
    &:nth-child(4){
      background: url('../images/gallery/Higgens/01.jpg') no-repeat;
      background-position: center;
      background-size: cover;
    }
    &:nth-child(5){
      background: url('../images/gallery/Response_Church/01.jpg') no-repeat;
      background-position: center;
      background-size: cover;
    }
    &:nth-child(6){
      background: url('../images/gallery/Martis/01.jpg') no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

$description-margin: 5px 0;
.gallery-description {
  float: left;
  padding: 5px;
  #header {
    margin: $description-margin;

  }
  #client {
    margin: $description-margin;
    color: $blue;
  }
  #description {
    margin: $description-margin;
    font-size: 0.6em;
  }
}

.loading {
    color: transparent!important;
    min-height: 2.5rem;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2rem;
  &:after {
    animation: loading .5s infinite linear;
    border: .1rem solid $blue;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 2rem;
    left: 50%;
    margin-left: -1rem;
    margin-top: -1rem;
    position: absolute;
    top: 50%;
    width: 2rem;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//  Map section1

#map-section {
  h3 {
    font-size: 1em;
    clear: both;
    border-bottom: solid 3px rgba(255,255,255,.3);
    line-height: 1.6rem;
    margin-bottom: 10px;
    float: left;
    clear: both;
    &.licensed {
      margin-top: 0;
      border-bottom: solid 3px #009ec9;
    }
    &.pending {
      border-bottom: solid 3px #caf5ff;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
    li {
      font-size: .65em;
      line-height: 1.5em;
    }
    div {
      float: left;
      width: 50%;
    }
  }
}

// Contact section

#contact-section {
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    background: rgba($white, 0.10);
    border: none;
    border-bottom: solid 1px $white;
    color: $white;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 15px;
    resize: vertical;
  }
  textarea {
    height: 225px;
    margin-bottom: 5px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $white;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $white;
  }
  input#submit {
    background: none;
    border: none;
    border-bottom: solid 1px $blue;
    color: $white;
    width: 200px;
    padding: 10px;
    float: right;
    transition: color .35s ease;
    &:hover {
      color: $blue;
    }
    &:focus {
      outline: none;
    }
  }
  #dom-output {
    visibility: hidden;
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    img {
      margin: 0 auto;
      max-width: 100px;
    }
    p {
      font-size: 1.5em;
      text-align: center;
    }
  }
  .col-7 {
    position: relative;
    padding-right: 1rem;
  }
  .col-5 {
    text-align: center;
    img {
      width: 200px;
      height: 154px;
      margin: 0 auto;
    }
    h2 {
      font-weight: $font-semi-bold;
      font-size: 2.3em;
      margin: .5em;
      span:nth-child(2) {
       color: $blue;
     }
      span:nth-child(3) {
        display: block;
        margin-top: .1em;
        font-size: .6em;
        font-weight: $font-weight-light;
        color: $grey;
      }
    }
    p:nth-child(3) {
      font-weight: $font-semi-bold;
    }
    p:nth-child(5) {
      font-size: .8em;
      text-transform: lowercase;
      position: relative;
      margin: 2.3em 0 0 0;
      &:before {
        content: '';
        position: absolute;
        top: -15px;
        left: 0;
        right: 0;
        width: 250px;
        border-top: solid 1px $blue;
        margin: 0 auto;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -15px;;
        left: 0;
        right: 0;
        width: 250px;
        border-bottom: solid 1px $blue;
        margin: 0 auto;
      }
    }
  }
}

// Footer

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: .5em;
}

@media only screen and (max-width: 1100px) {
  #main-nav {
    ul {
      display: none;
    }
  }
  #hamburger-wrapper {
    display: block;
  }
  #plan-north {
    h1 {
      font-size: 2em;
    }
  }
}

@media only screen and (max-width: 800px) {
  ul.services-flex-container li {
    display: none;
  }
  ul.services-flex-container li.details {
    display: block;
    width: 100%;
  }
  .mobile-image {
    display: block;
  }
}

@media only screen and (max-width: 720px) {
  ul.services-flex-container li {
    display: none;
  }
  ul.services-flex-container li.details {
    display: block;
    width: 100%;
  }
  .process-container {
    & > div {
      display: flex;
      flex-direction: column;
    }
    .process-details-container {
      order: 2;
    }
    .process-image {
      order: 1;
    }
  }
  .contact-flex {
    display: flex;
    flex-direction: column;
    & > div:first-child {
      order: 2;
    }
    & > div:last-child {
      order: 1;
      margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 540px) {
  .process-container {
    & > div {
      display: flex;
      flex-direction: column;
    }
    .process-details-container {
      order: 2;
    }
    .process-image {
      order: 1;
    }
  }
  .process-details-container {
    padding: 0;
    .process-button {
      height: 2.66em;
      & > span {
        font-size: 0.6em;
      }
    }
    .process-details {
      min-height:0;
      padding: 10px 25px;
      h2 {
        font-size: 1em;
      }
    }
  }
}
